.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-form {
  padding: 20px 0 40px;
}

.date-list_wrap {
  width: 100%;
  overflow-x: auto;
  text-align: center;
}

.date-list {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: rgb(255, 64, 129);
}

.city-title {
  font-size: 24px;
  color: rgb(0, 188, 212);
}

.date-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

.date-list h4 {
  color: rgb(0, 188, 212);
}
