.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-form {
  position: relative;
  padding: 20px 0 40px;
}

.date-list_wrap {
  width: 100%;
  overflow-x: auto;
  text-align: center;
}

.date-list {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  color: rgb(255, 64, 129);
}

.city-title {
  font-size: 24px;
  color: rgb(0, 188, 212);
}

.date-list li {
  display: inline-block;
  vertical-align: top;
  padding: 0 20px;
}

.date-list h4 {
  color: rgb(0, 188, 212);
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0;
  background: rgba(255, 255, 255, .5);
}

.loader:after {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  background: url('icons/loader.gif') no-repeat 50% 50%;
  background-size: 100%;
}
